@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

*{padding:0; margin:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{border:0; margin:0; padding:0}article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object{display:block}
a img{border:0}figure{position:relative}figure img{width:100%}img, object, embed{max-width:100%}img{height:auto}
h1, h2, h3, h4, h5, h6{word-wrap:break-word; font-style:normal; color:#4F4F4F;line-height:100%;}p{margin:0 0 10px 0}img{border:none}p{line-height:1.4em}
.row { margin:0 auto; width:960px; overflow:hidden; }
.row .row { margin:0 auto; width:auto; display:inline-block; }
.grid_1 { width:48px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_2 { width:128px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_3 { width:208px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_4 { width:288px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_5 { width:368px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_6 { width:448px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_7 { width:528px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_8 { width:608px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_9 { width:688px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_10{ width:768px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_11{ width:848px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_12{ width:928px; margin:0; overflow:hidden; float:left; display:inline; }
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7.grid_8,.grid_9,.grid_10,.grid_11,.grid_12 {
-webkit-transition: all 0.9s ease-in-out;
-moz-transition: all 0.9s ease-in-out;
-o-transition: all 0.9s ease-in-out;
transition: all 0.9s ease-in-out;
}
.offset_1 { margin-left:96px; }
.offset_2 { margin-left:176px; }
.offset_3 { margin-left:256px; }
.offset_4 { margin-left:336px; }
.offset_5 { margin-left:416px; }
.offset_6 { margin-left:496px; }
.offset_7 { margin-left:576px; }
.offset_8 { margin-left:656px; }
.offset_9 { margin-left:736px; }
.offset_10{ margin-left:816px; }
.offset_11{ margin-left:896px; }
.show-phone { display:none !important; }.show-tablet{ display:none !important; }.show-screen{ display:inherit !important; }.hide-phone { display:inherit !important; }.hide-tablet { display:inherit !important; }.hide-screen{ display:none !important; }.container:after{ content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }.clearfix:before,.clearfix:after,.row:before,.row:after { content:'\0020'; display:block; overflow:hidden; visibility:hidden; width:0; height:0; }.row:after,.clearfix:after { clear:both; }.row, .clearfix { zoom:1; }.clear { clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}.blogger-labels{ display:none; }

#topArt{background-color:#cccccc;height:6px; width: 100%; overflow: hidden; float: left;}.bar{height: 11px; float: left; min-width: 100px;}.bar_1{background-color:#333;}.bar_2{background-color:#666;}.bar_3{background-color:#999}.bar_4{background-color:#CCC;}